# DATA_PREPROCESSING

In [15]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [16]:
data=pd.read_csv("D:/BML/Stock_Market.csv")
data.head(16)

,Date,Symbol,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,01-01-2018,TCS,2701.20,2682.30,2694.80,2635.00,2650.00,2645.60,2654.94,675880.0,1.794420e+14,19464.0,330691.0,0.4893
1,02-01-2018,TCS,2645.60,2660.00,2669.60,2620.20,NaN,2631.20,2641.06,960145.0,2.535800e+14,46813.0,555820.0,0.5789
2,03-01-2018,TCS,2631.20,2632.00,NaN,2631.20,2639.00,2638.65,2649.21,628560.0,1.665190e+14,32104.0,361072.0,0.5744
3,04-01-2018,TCS,2638.65,2650.00,2662.00,2640.00,2650.00,2657.10,2649.94,456541.0,1.209810e+14,32647.0,264561.0,0.5795
4,05-01-2018,TCS,NaN,2650.00,2699.50,2650.00,2695.00,2689.20,2684.95,576853.0,1.548820e+14,30836.0,318083.0,0.5514
5,08-01-2018,TCS,NaN,2700.00,2726.85,2681.85,2708.80,2714.40,2709.74,621110.0,1.683050e+14,43815.0,345599.0,0.5564
6,09-01-2018,TCS,2714.40,2715.00,2721.00,2676.55,NaN,2709.00,2703.56,NaN,2.905510e+14,47403.0,612650.0,0.5701
7,10-01-2018,TCS,NaN,2711.00,2816.00,2694.65,2803.00,2806.60,2763.30,1682925.0,4.650420e+14,70764.0,699460.0,NaN
8,11-01-2018,TCS,2806.60,2810.00,2821.90,2782.20,2792.50,2790.50,2796.58,1260524.0,3.525160e+14,NaN,NaN,0.4587
9,12-01-2018,TCS,2790.50,NaN,2805.00,2740.55,2769.90,2776.35,2764.28,1680157.0,4.644420e+14,90884.0,472438.0,0.2812
10,15-01-2018,TCS,2776.35,2777.15,2808.00,2735.05,2737.40,2746.10,2768.32,728607.0,2.017010e+14,49926.0,394675.0,NaN
11,16-01-2018,TCS,2746.10,2756.00,2861.65,2750.55,2860.00,2850.85,2834.50,2133876.0,6.048460e+14,NaN,639155.0,NaN
12,17-01-2018,TCS,2850.85,2870.00,NaN,2862.15,2895.00,2888.95,2900.36,2140403.0,6.207950e+14,94873.0,965845.0,0.4512
13,NaN,TCS,2888.95,2897.00,2933.00,2868.05,2926.55,2918.20,2896.35,1104739.0,NaN,51786.0,568379.0,0.5145
14,19-01-2018,TCS,2918.20,2930.55,2982.00,2903.65,2974.85,2959.30,2930.77,910000.0,2.667000e+14,44039.0,436952.0,0.4802
15,22-01-2018,TCS,2959.30,2961.00,3134.70,2922.00,3090.00,3116.40,3052.16,2183555.0,NaN,97757.0,663651.0,0.3039

In [17]:
data.isnull().sum()

Date                  82
Symbol                 0
Prev Close            82
Open                  82
High                  82
Low                   82
Last                  82
Close                 82
VWAP                  82
Volume                82
Turnover              82
Trades                82
Deliverable Volume    82
%Deliverble           82
dtype: int64

In [18]:
print(data.describe())

        Prev Close         Open         High          Low         Last  \
count   741.000000   741.000000   741.000000   741.000000   741.000000
mean   2339.915722  2340.403711  2365.234008  2323.734750  2346.567206
std     470.619573   474.870838   474.735125   476.880182   476.582188
min    1636.350000  1559.700000  1685.450000  1506.050000  1631.000000
25%    2008.500000  2010.000000  2024.900000  1985.000000  2009.850000
50%    2164.850000  2163.650000  2186.000000  2146.550000  2167.500000
75%    2711.550000  2700.000000  2732.950000  2705.000000  2726.000000
max    3603.700000  3625.000000  3674.800000  3572.550000  3610.750000

             Close         VWAP        Volume      Turnover         Trades  \
count   741.000000   741.000000  7.410000e+02  7.410000e+02     741.000000
mean   2346.097976  2354.287679  3.212608e+06  7.549054e+14  139248.554656
std     474.006733   478.228933  2.510535e+06  6.609702e+14   62416.080059
min    1636.350000  1622.310000  1.445300e+05  2.807140e+13    9190.000000
25%    2012.850000  2011.870000  1.962927e+06  4.512880e+14   99805.000000
50%    2166.100000  2172.990000  2.716958e+06  6.166490e+14  127882.000000
75%    2722.050000  2728.880000  3.742049e+06  8.965190e+14  165528.000000
max    3603.700000  3579.690000  4.403358e+07  1.270000e+16  542541.000000

       Deliverable Volume  %Deliverble
count        7.410000e+02   741.000000
mean         1.549282e+06     0.492008
std          1.417162e+06     0.117023
min          4.147100e+04     0.121400
25%          9.319410e+05     0.420400
50%          1.320598e+06     0.489500
75%          1.852622e+06     0.567800
max          3.155626e+07     0.790100

In [19]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823 entries, 0 to 822
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                741 non-null    object
 1   Symbol              823 non-null    object
 2   Prev Close          741 non-null    float64
 3   Open                741 non-null    float64
 4   High                741 non-null    float64
 5   Low                 741 non-null    float64
 6   Last                741 non-null    float64
 7   Close               741 non-null    float64
 8   VWAP                741 non-null    float64
 9   Volume              741 non-null    float64
 10  Turnover            741 non-null    float64
 11  Trades              741 non-null    float64
 12  Deliverable Volume  741 non-null    float64
 13  %Deliverble         741 non-null    float64
dtypes: float64(12), object(2)
memory usage: 90.1+ KB
None

In [20]:
data.fillna(4,inplace=True)
data.head(15)

,Date,Symbol,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,01-01-2018,TCS,2701.20,2682.30,2694.80,2635.00,2650.00,2645.60,2654.94,675880.0,1.794420e+14,19464.0,330691.0,0.4893
1,02-01-2018,TCS,2645.60,2660.00,2669.60,2620.20,4.00,2631.20,2641.06,960145.0,2.535800e+14,46813.0,555820.0,0.5789
2,03-01-2018,TCS,2631.20,2632.00,4.00,2631.20,2639.00,2638.65,2649.21,628560.0,1.665190e+14,32104.0,361072.0,0.5744
3,04-01-2018,TCS,2638.65,2650.00,2662.00,2640.00,2650.00,2657.10,2649.94,456541.0,1.209810e+14,32647.0,264561.0,0.5795
4,05-01-2018,TCS,4.00,2650.00,2699.50,2650.00,2695.00,2689.20,2684.95,576853.0,1.548820e+14,30836.0,318083.0,0.5514
5,08-01-2018,TCS,4.00,2700.00,2726.85,2681.85,2708.80,2714.40,2709.74,621110.0,1.683050e+14,43815.0,345599.0,0.5564
6,09-01-2018,TCS,2714.40,2715.00,2721.00,2676.55,4.00,2709.00,2703.56,4.0,2.905510e+14,47403.0,612650.0,0.5701
7,10-01-2018,TCS,4.00,2711.00,2816.00,2694.65,2803.00,2806.60,2763.30,1682925.0,4.650420e+14,70764.0,699460.0,4.0000
8,11-01-2018,TCS,2806.60,2810.00,2821.90,2782.20,2792.50,2790.50,2796.58,1260524.0,3.525160e+14,4.0,4.0,0.4587
9,12-01-2018,TCS,2790.50,4.00,2805.00,2740.55,2769.90,2776.35,2764.28,1680157.0,4.644420e+14,90884.0,472438.0,0.2812
10,15-01-2018,TCS,2776.35,2777.15,2808.00,2735.05,2737.40,2746.10,2768.32,728607.0,2.017010e+14,49926.0,394675.0,4.0000
11,16-01-2018,TCS,2746.10,2756.00,2861.65,2750.55,2860.00,2850.85,2834.50,2133876.0,6.048460e+14,4.0,639155.0,4.0000
12,17-01-2018,TCS,2850.85,2870.00,4.00,2862.15,2895.00,2888.95,2900.36,2140403.0,6.207950e+14,94873.0,965845.0,0.4512
13,4,TCS,2888.95,2897.00,2933.00,2868.05,2926.55,2918.20,2896.35,1104739.0,4.000000e+00,51786.0,568379.0,0.5145
14,19-01-2018,TCS,2918.20,2930.55,2982.00,2903.65,2974.85,2959.30,2930.77,910000.0,2.667000e+14,44039.0,436952.0,0.4802

In [21]:
data.drop("Date",axis=1,inplace=True)
data.head(15)

,Symbol,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,TCS,2701.20,2682.30,2694.80,2635.00,2650.00,2645.60,2654.94,675880.0,1.794420e+14,19464.0,330691.0,0.4893
1,TCS,2645.60,2660.00,2669.60,2620.20,4.00,2631.20,2641.06,960145.0,2.535800e+14,46813.0,555820.0,0.5789
2,TCS,2631.20,2632.00,4.00,2631.20,2639.00,2638.65,2649.21,628560.0,1.665190e+14,32104.0,361072.0,0.5744
3,TCS,2638.65,2650.00,2662.00,2640.00,2650.00,2657.10,2649.94,456541.0,1.209810e+14,32647.0,264561.0,0.5795
4,TCS,4.00,2650.00,2699.50,2650.00,2695.00,2689.20,2684.95,576853.0,1.548820e+14,30836.0,318083.0,0.5514
5,TCS,4.00,2700.00,2726.85,2681.85,2708.80,2714.40,2709.74,621110.0,1.683050e+14,43815.0,345599.0,0.5564
6,TCS,2714.40,2715.00,2721.00,2676.55,4.00,2709.00,2703.56,4.0,2.905510e+14,47403.0,612650.0,0.5701
7,TCS,4.00,2711.00,2816.00,2694.65,2803.00,2806.60,2763.30,1682925.0,4.650420e+14,70764.0,699460.0,4.0000
8,TCS,2806.60,2810.00,2821.90,2782.20,2792.50,2790.50,2796.58,1260524.0,3.525160e+14,4.0,4.0,0.4587
9,TCS,2790.50,4.00,2805.00,2740.55,2769.90,2776.35,2764.28,1680157.0,4.644420e+14,90884.0,472438.0,0.2812
10,TCS,2776.35,2777.15,2808.00,2735.05,2737.40,2746.10,2768.32,728607.0,2.017010e+14,49926.0,394675.0,4.0000
11,TCS,2746.10,2756.00,2861.65,2750.55,2860.00,2850.85,2834.50,2133876.0,6.048460e+14,4.0,639155.0,4.0000
12,TCS,2850.85,2870.00,4.00,2862.15,2895.00,2888.95,2900.36,2140403.0,6.207950e+14,94873.0,965845.0,0.4512
13,TCS,2888.95,2897.00,2933.00,2868.05,2926.55,2918.20,2896.35,1104739.0,4.000000e+00,51786.0,568379.0,0.5145
14,TCS,2918.20,2930.55,2982.00,2903.65,2974.85,2959.30,2930.77,910000.0,2.667000e+14,44039.0,436952.0,0.4802

In [22]:
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
imputer=imputer.fit(data.iloc[:,1:])
data.iloc[:,1:]=imputer.transform(data.iloc[:,1:])
data.head(15)

,Symbol,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,TCS,2701.20,2682.30,2694.80,2635.00,2650.00,2645.60,2654.94,675880.0,1.794420e+14,19464.0,330691.0,0.4893
1,TCS,2645.60,2660.00,2669.60,2620.20,4.00,2631.20,2641.06,960145.0,2.535800e+14,46813.0,555820.0,0.5789
2,TCS,2631.20,2632.00,4.00,2631.20,2639.00,2638.65,2649.21,628560.0,1.665190e+14,32104.0,361072.0,0.5744
3,TCS,2638.65,2650.00,2662.00,2640.00,2650.00,2657.10,2649.94,456541.0,1.209810e+14,32647.0,264561.0,0.5795
4,TCS,4.00,2650.00,2699.50,2650.00,2695.00,2689.20,2684.95,576853.0,1.548820e+14,30836.0,318083.0,0.5514
5,TCS,4.00,2700.00,2726.85,2681.85,2708.80,2714.40,2709.74,621110.0,1.683050e+14,43815.0,345599.0,0.5564
6,TCS,2714.40,2715.00,2721.00,2676.55,4.00,2709.00,2703.56,4.0,2.905510e+14,47403.0,612650.0,0.5701
7,TCS,4.00,2711.00,2816.00,2694.65,2803.00,2806.60,2763.30,1682925.0,4.650420e+14,70764.0,699460.0,4.0000
8,TCS,2806.60,2810.00,2821.90,2782.20,2792.50,2790.50,2796.58,1260524.0,3.525160e+14,4.0,4.0,0.4587
9,TCS,2790.50,4.00,2805.00,2740.55,2769.90,2776.35,2764.28,1680157.0,4.644420e+14,90884.0,472438.0,0.2812
10,TCS,2776.35,2777.15,2808.00,2735.05,2737.40,2746.10,2768.32,728607.0,2.017010e+14,49926.0,394675.0,4.0000
11,TCS,2746.10,2756.00,2861.65,2750.55,2860.00,2850.85,2834.50,2133876.0,6.048460e+14,4.0,639155.0,4.0000
12,TCS,2850.85,2870.00,4.00,2862.15,2895.00,2888.95,2900.36,2140403.0,6.207950e+14,94873.0,965845.0,0.4512
13,TCS,2888.95,2897.00,2933.00,2868.05,2926.55,2918.20,2896.35,1104739.0,4.000000e+00,51786.0,568379.0,0.5145
14,TCS,2918.20,2930.55,2982.00,2903.65,2974.85,2959.30,2930.77,910000.0,2.667000e+14,44039.0,436952.0,0.4802

In [23]:
data['label']=data['Open'].shift(4)
data.head(10)

,Symbol,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble,label
0,TCS,2701.20,2682.3,2694.80,2635.00,2650.0,2645.60,2654.94,675880.0,1.794420e+14,19464.0,330691.0,0.4893,NaN
1,TCS,2645.60,2660.0,2669.60,2620.20,4.0,2631.20,2641.06,960145.0,2.535800e+14,46813.0,555820.0,0.5789,NaN
2,TCS,2631.20,2632.0,4.00,2631.20,2639.0,2638.65,2649.21,628560.0,1.665190e+14,32104.0,361072.0,0.5744,NaN
3,TCS,2638.65,2650.0,2662.00,2640.00,2650.0,2657.10,2649.94,456541.0,1.209810e+14,32647.0,264561.0,0.5795,NaN
4,TCS,4.00,2650.0,2699.50,2650.00,2695.0,2689.20,2684.95,576853.0,1.548820e+14,30836.0,318083.0,0.5514,2682.3
5,TCS,4.00,2700.0,2726.85,2681.85,2708.8,2714.40,2709.74,621110.0,1.683050e+14,43815.0,345599.0,0.5564,2660.0
6,TCS,2714.40,2715.0,2721.00,2676.55,4.0,2709.00,2703.56,4.0,2.905510e+14,47403.0,612650.0,0.5701,2632.0
7,TCS,4.00,2711.0,2816.00,2694.65,2803.0,2806.60,2763.30,1682925.0,4.650420e+14,70764.0,699460.0,4.0000,2650.0
8,TCS,2806.60,2810.0,2821.90,2782.20,2792.5,2790.50,2796.58,1260524.0,3.525160e+14,4.0,4.0,0.4587,2650.0
9,TCS,2790.50,4.0,2805.00,2740.55,2769.9,2776.35,2764.28,1680157.0,4.644420e+14,90884.0,472438.0,0.2812,2700.0

In [24]:
data['label']=data['Open'].shift(4,fill_value=10)
data.head(10)

,Symbol,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble,label
0,TCS,2701.20,2682.3,2694.80,2635.00,2650.0,2645.60,2654.94,675880.0,1.794420e+14,19464.0,330691.0,0.4893,10.0
1,TCS,2645.60,2660.0,2669.60,2620.20,4.0,2631.20,2641.06,960145.0,2.535800e+14,46813.0,555820.0,0.5789,10.0
2,TCS,2631.20,2632.0,4.00,2631.20,2639.0,2638.65,2649.21,628560.0,1.665190e+14,32104.0,361072.0,0.5744,10.0
3,TCS,2638.65,2650.0,2662.00,2640.00,2650.0,2657.10,2649.94,456541.0,1.209810e+14,32647.0,264561.0,0.5795,10.0
4,TCS,4.00,2650.0,2699.50,2650.00,2695.0,2689.20,2684.95,576853.0,1.548820e+14,30836.0,318083.0,0.5514,2682.3
5,TCS,4.00,2700.0,2726.85,2681.85,2708.8,2714.40,2709.74,621110.0,1.683050e+14,43815.0,345599.0,0.5564,2660.0
6,TCS,2714.40,2715.0,2721.00,2676.55,4.0,2709.00,2703.56,4.0,2.905510e+14,47403.0,612650.0,0.5701,2632.0
7,TCS,4.00,2711.0,2816.00,2694.65,2803.0,2806.60,2763.30,1682925.0,4.650420e+14,70764.0,699460.0,4.0000,2650.0
8,TCS,2806.60,2810.0,2821.90,2782.20,2792.5,2790.50,2796.58,1260524.0,3.525160e+14,4.0,4.0,0.4587,2650.0
9,TCS,2790.50,4.0,2805.00,2740.55,2769.9,2776.35,2764.28,1680157.0,4.644420e+14,90884.0,472438.0,0.2812,2700.0

In [25]:
data['High'] = data['High'].fillna(data['High'].mean())
data.head(11)

,Symbol,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble,label
0,TCS,2701.20,2682.30,2694.80,2635.00,2650.0,2645.60,2654.94,675880.0,1.794420e+14,19464.0,330691.0,0.4893,10.0
1,TCS,2645.60,2660.00,2669.60,2620.20,4.0,2631.20,2641.06,960145.0,2.535800e+14,46813.0,555820.0,0.5789,10.0
2,TCS,2631.20,2632.00,4.00,2631.20,2639.0,2638.65,2649.21,628560.0,1.665190e+14,32104.0,361072.0,0.5744,10.0
3,TCS,2638.65,2650.00,2662.00,2640.00,2650.0,2657.10,2649.94,456541.0,1.209810e+14,32647.0,264561.0,0.5795,10.0
4,TCS,4.00,2650.00,2699.50,2650.00,2695.0,2689.20,2684.95,576853.0,1.548820e+14,30836.0,318083.0,0.5514,2682.3
5,TCS,4.00,2700.00,2726.85,2681.85,2708.8,2714.40,2709.74,621110.0,1.683050e+14,43815.0,345599.0,0.5564,2660.0
6,TCS,2714.40,2715.00,2721.00,2676.55,4.0,2709.00,2703.56,4.0,2.905510e+14,47403.0,612650.0,0.5701,2632.0
7,TCS,4.00,2711.00,2816.00,2694.65,2803.0,2806.60,2763.30,1682925.0,4.650420e+14,70764.0,699460.0,4.0000,2650.0
8,TCS,2806.60,2810.00,2821.90,2782.20,2792.5,2790.50,2796.58,1260524.0,3.525160e+14,4.0,4.0,0.4587,2650.0
9,TCS,2790.50,4.00,2805.00,2740.55,2769.9,2776.35,2764.28,1680157.0,4.644420e+14,90884.0,472438.0,0.2812,2700.0
10,TCS,2776.35,2777.15,2808.00,2735.05,2737.4,2746.10,2768.32,728607.0,2.017010e+14,49926.0,394675.0,4.0000,2715.0

In [26]:
scaler=StandardScaler()

In [31]:
data=scaler.fit_transform(data.iloc[:,1:])
data

array([[ 0.71582741,  0.69061039,  0.6737503 , ..., -0.74857877,
        -0.33338151, -2.47391893],
       [ 0.64882678,  0.66381204,  0.64369072, ..., -0.5902228 ,
        -0.24857589, -2.47391893],
       [ 0.6314741 ,  0.63016388, -2.53594385, ..., -0.72720875,
        -0.2528351 , -2.47391893],
       ...,
       [ 1.23496175,  1.2525947 ,  1.21792395, ..., -0.38487049,
        -0.3069744 ,  1.2539333 ],
       [ 1.22544188,  1.24736722, -2.53594385, ..., -0.39204166,
        -0.3075423 ,  1.20285056],
       [ 1.21477721,  1.19136707,  1.19531963, ...,  0.38515037,
        -0.19803325,  1.19934604]])

In [28]:
data.isnull().sum()

Symbol                0
Prev Close            0
Open                  0
High                  0
Low                   0
Last                  0
Close                 0
VWAP                  0
Volume                0
Turnover              0
Trades                0
Deliverable Volume    0
%Deliverble           0
label                 0
dtype: int64